@model MegaGraphics.Web.ViewModels.Product.CategoryViewModel
@{
    ViewData["Title"] = "Category";
}

<div class="col-md-4">
    <div class="justify-content-center">


        <h2 class="justify-content-center">Категория на продукта</h2>
        <ul class="list-inline">
            @foreach (var category in Model.Categories)
            {
                <li class="list-inline-item">
                   @category.Name
                </li>
            }
        </ul>
        
        <form method="post">

            <label asp-for="Categories">Parent category:</label>

            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>

            <input asp-for="Name" class="form-control" /><br />
            <input type="submit" class="btn btn-success" value="Add Category" />
            <span asp-validation-for="Name"></span>
            </form>

    </div>
</div>
